@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

.active {
    color: white;
    border-bottom-width: 2px;
    border-color: #fff;
}